doctype
html
    head
        title #{title}
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        link(rel="stylesheet", href="/assets/css/index.css")
        link(rel="stylesheet", href="/assets/css/main.css")

    body
        .nav-bar
            .nav-bar-left.full-height
                a.navbar-brand(href='/') Maler jakt administration
                a.log(href='/logout')
                    .glyphicon.glyphicon-log-out
                    span.logout Logout
            .nav-bar-right.full-height
                a.del(style="padding-right: 20px;")
                    .glyphicon.glyphicon-remove-circle
                    span.del Purge deleted images
                a.bar.btn.default#geolocations Export geolocations
                a.bar.btn.default#archive-images Export images
                a.bar.btn.default(href="/fullscreen") Fullscreen

        table.table.table-striped
            thead
                tr
                    th Picture/Device info
                    th Location/accuracy
                    th Image URL
                    th Comments
                    th Identifications
            tbody
                each image in images
                    tr(id="#{image._id}")
                        td
                            .picture-device-info
                                a(href="/image/#{image.name}", target="_blank")
                                    image.picture(src="/image/#{image.name}", style="width: 90px; height: 66px;")
                                .divice-info
                                    .date= moment(image.date).format("DD.MM.YYYYY HH:mm:ss")
                                    a.device #{image.device}

                        td
                            .location-accuracy
                                .coordinates #{image.coordinates}
                                .accuracy #{image.accuracy} meters
                        td.image-url
                            a(href="/image/#{image.name}", download) External-link
                        td.comments #{image.comments}
                        td
                            .identification
                                each identification in identifications
                                    if image.identification == identification.name
                                        button.identification(id="#{image._id}#{identification.name}", name="#{identification.name}" data-name="#{image.name}" style="background-color: #{identification.color};") #{identification.name}
                                    else
                                        button.identification(id="#{image._id}#{identification.name}", name="#{identification.name}" data-name="#{image.name}") #{identification.name}

        .page-pagination
            ul.pagination
                - var page = 1
                while page < countPage + 1
                    if page == numberPage
                        li.active
                            a(href='/?page=#{page}')= page
                    else
                        li
                            a(href='/?page=#{page}')= page
                    - page++

    script(src="https://code.jquery.com/jquery-3.2.1.js", integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(type='text/javascript', src='/assets/js/main.js')
    script(type='text/javascript', src='/assets/js/index.js')
